.app-section {
  display: grid;
  grid-template-areas:
  "progress progress"
  "form preview"
  "navigation preview";
}

@media (max-width: 1148px) {
  .app-section {
    grid-template-areas:
    "progress"
    "form "
    "navigation"
    "preview";
  }
}


.progress-bar {
  grid-area: progress;
}

.form {
  grid-area: form;
  justify-self: center;
}

.navigation {
  grid-area: navigation;
}

.preview {
  grid-area: preview;
  justify-self: center;
  width: fit-content;
}