.app-section {
  display: grid;
  grid-template-areas:
  "progress progress"
  "form preview"
  "navigation preview";
}

.progress-bar {
  grid-area: progress;
}

.form {
  grid-area: form;
}

.navigation {
  grid-area: navigation;
}

.preview {
  grid-area: preview;
}