header.header {
  background-color: rgb(60,60,60);
  color: white;
}

.logo {
  padding: 10px;
  margin-bottom: 5px;
  margin-left: 25px;
  font-size: 200%;
}

.author {
  margin-left: 15px;
  font-size: 1rem;
}