.navigation {
  align-self:end;
}

.buttons {
  text-align: center;
}

.navigation button {
  width: 35%;
  max-width: 250px;
  margin: 0 10px;
  border: 1px solid transparent;
  box-shadow: 0px 1px 2px 1px #b0a1a1;
}



button {
  font-family: inherit;
  background-color: white;
  padding: 2px 15px;
  border-radius: 4px;
  font-size: 105%;
  transition: background-color 300ms;
  cursor: pointer;
  
}

button:hover {
  background-color: rgb(208, 188, 145);
}