@media print {
  body * {
    visibility: hidden;
  }
  #section-to-print, #section-to-print * {
    visibility: visible;
  }
  #section-to-print {
    position: absolute;
    left: 0;
    top: 0;
    border: none;
    -webkit-print-color-adjust: exact;
    box-shadow: none;
    overflow-y: hidden;
    height: fit-content;
    height: -moz-fit-content;
    max-height: initial;
    width: fit-content;
    width: -moz-fit-content;
  }
}